body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
    width: 40%;
    margin: 20px;
    box-shadow: 1px 1px 38px grey;
}

#start, #status{
    font-size: 22px;
}

h4{
    line-height: 2;
    margin: 0px;
    background-color: black;
    color: white;
}

.modal-dialog{
    width: 90%;
}

.instruction-name{
    display: inline-block;
    width: 45%;
}

video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}